<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB4ubi7usXq0lzOHL3RFmP4t3d0YyRH_D4</string>
	<key>GCM_SENDER_ID</key>
	<string>625005645490</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gomygps.app</string>
	<key>PROJECT_ID</key>
	<string>gomygps-b521b</string>
	<key>STORAGE_BUCKET</key>
	<string>gomygps-b521b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:625005645490:ios:3280ba7a12cd9e5468c3ab</string>
</dict>
</plist>